<div class="jtk-demo-canvas canvas-wide drag-drop-demo jtk-surface jtk-surface-nopan" id="canvas" #canvas
        [formGroup]="nodeGroup">

        <ng-container *ngFor="let currentNode of nodes.controls; let i=index" formArrayName="nodes">
                <div class="window dnd" id="{{currentNode.get('id')?.value}}">
                        {{currentNode.get('title')?.value}}
                        <br /><br /><a href="#" class="cmdLink hide" rel="{{currentNode.get('id')?.value}}">toggle
                                connections</a><br /><a href="#" class="cmdLink drag"
                                rel="{{currentNode.get('id')?.value}}">disable
                                dragging</a><br /><a href="#" class="cmdLink detach"
                                rel="{{currentNode.get('id')?.value}}">detach
                                all</a>
                        <p>{{currentNode.get('desc')?.value}}</p>
                </div>
        </ng-container>

</div>