#canvas {
  position: relative;
}

.demo {
  /* for IE10+ touch devices */
  touch-action: none;
}

/** ELEMENTS **/
.drag-drop-demo .window {
  z-index: 24;
  cursor: pointer;
  position: absolute;
  max-width: 200px;
}

.window:hover {
  border: 1px solid #123456;
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #fff;
  opacity: 0.9;
}

.drag-drop-demo a,
.drag-drop-demo a:visited {
  color: #057d9f;
}

.drag-drop-demo a:hover {
  color: orange;
}

/** LINKS IN WINDOWS **/
.drag-locked {
  border: 1px solid red;
}
.cmdLink {
  font-size: 0.8em;
}

/** DRAG/DROP CLASSES **/
.dragActive {
  border: 2px dotted orange;
}
.dropHover {
  border: 1px dotted red;
}

/** INFO WINDOW **/
#list {
  text-align: center;
  display: none;
  font-size: 90%;
  position: absolute;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 100px;
  background-color: white;
  padding: 5px;
  border: 1px solid #456;
  opacity: 0.8;
  border-radius: 8px;
  color: #444;
}
#list table {
  width: 100%;
}
#list table th,
#list strong {
  color: black;
  font-size: 12px;
  text-align: center;
}

path,
.jtk-endpoint {
  cursor: pointer;
}

[jtk-not-draggable] {
  border: 2px solid darkorange !important;
}
